PORT=4000
NODE_ENV=development
DATABASE_URL="file:./dev.db"
JWT_SECRET=super_secret_jwt
JWT_EXPIRES_IN=1d
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=user
SMTP_PASS=pass
SMTP_FROM="Sistema de Moeda Estudantil <noreply@sme.local>"
FRONTEND_URL=http://localhost:5173
